@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@font-face {
  font-family: "MonoCraft";
  src: url("../fuentes/Monocraft.otf") format("truetype");
}
@font-face {
  font-family: "Determination";
  src: url("../fuentes/DeterminationSansWebRegular-369X.ttf") format("truetype");
}
@font-face {
  font-family: "Sans";
  src: url("../fuentes/pixel-comic-sans-undertale-sans-font.ttf")
    format("truetype");
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
  background: rgb(46, 44, 44);
}
nav {
  background: rgb(18, 18, 18);
  padding: 20px 5%;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.tituloNav {
  text-decoration: none;
  color: blueviolet;
  font-size: 25px;
  transition: font-size 0.6s;
}
.tituloNav:hover {
  font-size: 29px;
}
nav div a {
  text-decoration: none;
  color: #c4c4c4;
  margin: 0px 10px;
  transition: opacity 0.3;
}
nav div a:hover {
  opacity: 0.8;
}
.activo {
  color: #ffffff;
}
footer {
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20px;
  background: rgb(18, 18, 18);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  color: #ffffff;
}
/*cambiar en cuanto aprendamos JS*/
.RedesFooter {
  list-style: none;
  display: flex;
  justify-content: center;
}
footer div h3 {
  margin-bottom: 10px;
  font-family: "MonoCraft", sans-serif;
}
.logo-footer {
  width: 40%;
  transition: transform 0.3s;
}
.logo-footer:hover {
  transform: scale(1.1);
}
.columna-footer {
  width: 100%;
  margin: 20px 0px;
}
.iconos-footer {
  color: rgb(255, 255, 255);
  margin: 0px 5px 0px 5px;
  transition: font-size 0.3s;
  font-size: 28px;
}
.link-a {
  margin-top: 8px;
  list-style: none;
}
.link-a a:hover {
  font-size: 20px;
}
.link-a a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  transition: font-size 0.3s;
  font-size: 15px;
}
.iconos-footer:hover {
  color: rgb(255, 255, 255);
  margin: 0px 5px 0px 5px;
  font-size: 32px;
}
.texto-real {
  margin-left: 5px;
}
.sub-comentario-sans {
  display: flex;
  flex-grow: 1;
  margin: 20px 20px;
}
.sans-moment {
  margin: 20px 3%;
}
.sans-img {
  width: 20%;
  height: 20%;
}
.comentario-sans {
  display: flex;
  color: #ffffff;
  background: #000000;
  border: 10px #ffffff solid;
  font-family: "sans", sans-serif;
  padding: 10px 2%;
  font-size: 3em;
}
/* dispositivos grandes lg */
@media all and (min-width: 992px) {
}
/* dispositivos md */
@media all and (min-width: 768px) and (max-width: 991px) {
  .comentario-sans {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1em;
  }
  .sans-img {
    width: 50%;
    height: 50%;
  }
}

/* dispositivos sm */
@media all and (max-width: 767px) {
  footer {
    padding-left: 0%;
    padding-right: 0%;
    grid-template-columns: repeat(1, 1fr);
  }
  nav div {
    display: flex;
    flex-direction: column;
  }
  nav div a {
    margin-top: 15px;
    margin-right: 0px;
    font-size: 13px;
  }
  .comentario-sans {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1em;
  }
  .sans-img {
    width: 50%;
    height: 50%;
  }
}
