@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@font-face {
  font-family: "MonoCraft";
  src: url("../Monocraft.otf") format("truetype");
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
/*agregar la fuente nueva al nav: font-family: 'Poppins', sans-serif;*/
nav {
  background: rgb(18, 18, 18);
  padding: 30px 30px;
}
footer {
  padding: 30px 10px;
  background: rgb(18, 18, 18);
  display: flex;
  text-align: center;
  color: #ffffff;
}
/*cambiar en cuanto aprendamos JS*/
.RedesFooter {
  list-style: none;
  display: flex;
  justify-content: center;
}
footer div h3 {
  margin-bottom: 10px;
  font-family: "MonoCraft", sans-serif;
}
.logo-footer {
  width: 40%;
  transition: transform 0.3s;
}
.logo-footer:hover {
  transform: scale(1.1);
}
.columna-footer {
  width: 40%;
}
.iconos-footer {
  color: rgb(255, 255, 255);
  margin: 0px 5px 0px 5px;
  transition: font-size 0.3s;
  font-size: 28px;
}
.link-a {
  margin-top: 8px;
}
.link-a a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.iconos-footer:hover {
  color: rgb(255, 255, 255);
  margin: 0px 5px 0px 5px;
  font-size: 32px;
}